{% extends "base.html" %}
{% block start %}


{% if username %}
<div style="font-size: x-large; margin-top: 20px; display: flex; flex-direction: column; align-items: center; font-family: monospace; color: white;">
  Your username is: {{username}}
</div>
{% endif %}


<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<div class="center">
    <div class="left">
        <h2 style="margin-top: 20px;">Reservation Details</h2>
        <div style="font-size: 19px; margin-top: 20px; display: flex; flex-direction: column; align-items: center;">
            <p>Reservation Number: {{reservation.reservation_number}}</p>
            <p>No. of Childrens: {{reservation.no_of_childrens}}</p>
            <p>No. of Adults: {{reservation.no_of_adults}}</p>
            <p>Check In: {{reservation.check_in}}</p>
            <p>Check Out: {{reservation.check_out}}</p>
            <form action="/search/">
                <button type="submit" class="login-button"><b>VIEW ANOTHER RESERVATION</b></button>
            </form>
        </div>
    </div>
    <div style="display: flex; flex-direction: columns; width: 50%;">
        <div class="right">
            <h2 style="margin-top: 20px; margin-bottom: 10px;">Client Details</h2>
            <p>Name: {{reservation.client.client_first_name}} {{reservation.client.client_last_name}}</p>
            <p>Email: {{reservation.client.client_email}}</p>
            <p>Phone: {{reservation.client.client_phno}}</p>
            <h2 style="margin-top: -10px;">Room Details</h2>
            <p>Name: {{reservation.room.room_name}}</p>
            <p>Title: {{reservation.room.room_title}}</p>
            <p>Type: {{reservation.room.room_type}}</p>
            <p>Price: ${{reservation.get_display_price}}</p>

            <button id="checkout-button" class="login-button" style="font-size: 20px;"><b>MAKE PAYMENT</b></button>
        </div>
    </div>
</div>

<script type="text/javascript">
  var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
  var checkoutButton = document.getElementById("checkout-button");
  const csrftoken = getCookie('csrftoken');
  dataToSend = { url: "/display-reservation/{{reservation.reservation_number}}"};

  checkoutButton.addEventListener("click", function () {
    fetch("/checkout/{{reservation.reservation_number}}/", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify(dataToSend),
    })
      .then(function (response) {
        return response.json();
      })
      .then(function (session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function (result) {
        // If redirectToCheckout fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using error.message.
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
  });

  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
  }
</script>

<style>
  .login-button {
    background-color: #8e572b;
    width: 290px;
    height: 45px;
    border-radius: 20px;
    color: white;
  }
  .grp {
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 30px;
  }
  .right p {
    margin-bottom: 15px;
  }
  .center { 
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: beige;
    height: 530px; 
    width: 800px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .left {
    margin-top: 30px;
    margin-left: 20px;
    width: 48%;
    height: 90%;
    background-color: white;
    border-radius: 20px;
    color: rgb(56, 51, 51);
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 20px;
    color: rgb(56, 51, 51);
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

{% endblock %}
