{% extends "base.html" %}
{% block start %}

{% if reservation_number %}
<div style="font-size: x-large; margin-top: 20px; display: flex; flex-direction: column; align-items: center; font-family: monospace; color: white;">
  Your reservation number is: {{reservation_number}}
</div>
{% endif %}

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="center">
  <form class="center-two" method="post" action="/edit/">
    {% csrf_token %}
    <div style="display: flex; flex-direction: row; margin-top: 60px;">
        <div style="margin-left: 50px;">
          {% if message %}
            {% if key == 0 %}
              <p id="error-message" style="color: red; font-family: monospace; font-size: 17px; position: fixed; margin-top: -30px; margin-left: 10px;">{{message}}</p>
            {% else %}
              <p id="error-message" style="color: rgb(0, 209, 0); font-family: monospace; font-size: 17px; position: fixed; margin-top: -30px; margin-left: 10px;">{{message}}</p>
            {% endif %}
          {% endif %}
          <p id="my-div" style="color: red; font-family: monospace; font-size: 17px; position: fixed; margin-top: -30px; margin-left: 10px;"></p>
            <input type="hidden" value="{{client.id}}" name="client_id" />
            <input type="hidden" value="{{reservation.id}}" name="reservation_id" />
            <input type="hidden" value="{{address.id}}" name="address_id" />
            <input type="hidden" value="{{reservation.reservation_number}}" name="reservation_number" />
            <input disabled id="first-name" type="text" placeholder="FIRST NAME" class="form-control my-input" name="first_name" required value="{{client.client_first_name}}">
            <input disabled id="last-name" type="text" placeholder="LAST NAME" class="form-control my-input" name="last_name" required value="{{client.client_last_name}}">
            <input disabled id="dob" name="dob" type="text" class="dob-input form-control my-input" id="dob-input" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" placeholder="DATE OF BIRTH" required value="{{client.client_dob}}">  
            <input disabled id="phno" type="text" placeholder="PHONE NUMBER" class="form-control my-input" name="phno" required value="{{client.client_phno}}">
            <input disabled id="my-email" type="email" placeholder="EMAIL" class="form-control my-input" name="email" required value="{{client.client_email}}">
            <input disabled id="street" type="text" placeholder="STREET" class="form-control my-input" name="street" required value="{{address.street}}">
            <div style="display: flex; flex-direction: row;">
                {% if address.apt %}
                <input disabled id="apt" type="text" placeholder="APT/SUITE" class="form-control my-small-input" name="apt" value="{{address.apt}}">
                {% else %}
                <input disabled id="apt" type="text" placeholder="APT/SUITE" class="form-control my-small-input" name="apt">
                {% endif %}
                <input disabled id="city" style="margin-left: 20px;" type="text" placeholder="CITY" class="form-control my-small-input" name="city" required value="{{address.city}}">
            </div>
            <div style="display: flex; flex-direction: row;">
                <input disabled id="state" type="text" placeholder="STATE" class="form-control my-small-input" name="state" required value="{{address.state}}">
                <input disabled id="zip-code" style="margin-left: 20px;" type="text" placeholder="ZIP CODE" class="form-control my-small-input" name="zip_code" required value="{{address.zip_code}}">
            </div>
        </div>
        <div style="margin-left: 50px">
            <label style="margin-left: 20px; margin-right: 50px; color: #8e572b; font-family: monospace; font-size: 20px;">Room</label>
            <select name="rooms" id="room-select" style="margin-bottom: 20px; height: 40px; color: #8e572b; border-color: #8e572b; border-radius: 10px; width: 230px;">
                {% for room in rooms %}
                    {% if room.id == selected_id %}
                        <option value="{{ room.room_name }}" style="color: #8e572b;" selected>{{ room.room_name }}</option>
                    {% else %}
                        <option value="{{ room.room_name }}" style="color: #8e572b;">{{ room.room_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>                                                       
            <div style="display: flex; flex-direction: row; margin-top: 10px; margin-bottom: 10px;">
              <input id="room-type-input" style="margin-left: 10px; width: 170px;" type="text" class="form-control my-small-input" name="room_type" required disabled>
              <input id="room-floor-input" style="margin-left: 20px; width: 150px;" type="text" placeholder="FLOOR" class="form-control my-small-input" name="room_floor" required disabled>
            </div>
            <div style="display: flex; flex-direction: row;">
                <label style="margin-left: 20px; margin-top: 5px; margin-right: 30px; color: #8e572b; font-family: monospace; font-size: 18px;">No of Childrens</label>
                <select name="childs" id="" style="margin-bottom: 20px; height: 40px; color: #8e572b; border-color: #8e572b; border-radius: 10px; width: 150px;">
                    {% if reservation.no_of_childrens == 0 %}
                    <option value="0" style="color: #8e572b;" selected>None</option>
                    <option value="1" style="color: #8e572b;">One</option>
                    <option value="2" style="color: #8e572b;">Two</option>
                    {% elif reservation.no_of_childrens == 1 %}
                    <option value="0" style="color: #8e572b;">None</option>
                    <option value="1" style="color: #8e572b;" selected>One</option>
                    <option value="2" style="color: #8e572b;">Two</option>
                    {% else %}
                    <option value="0" style="color: #8e572b;">None</option>
                    <option value="1" style="color: #8e572b;">One</option>
                    <option value="2" style="color: #8e572b;" selected>Two</option>
                    {% endif %}
                </select>
            </div>
            <div style="display: flex; flex-direction: row; margin-bottom: 30px;">
                <label style="margin-left: 20px; margin-top: 5px; margin-right: 30px; color: #8e572b; font-family: monospace; font-size: 18px;">No of Adults</label>
                <select name="adults" id="" style="margin-left: 30px; height: 40px; color: #8e572b; border-color: #8e572b; border-radius: 10px; width: 150px;">
                    {% if reservation.no_of_adults == 1 %}
                    <option value="1" style="color: #8e572b;" selected>One</option>
                    <option value="2" style="color: #8e572b;">Two</option>
                    <option value="3" style="color: #8e572b;">Three</option>
                    {% elif reservation.no_of_adults == 2 %}
                    <option value="1" style="color: #8e572b;">One</option>
                    <option value="2" style="color: #8e572b;" selected>Two</option>
                    <option value="3" style="color: #8e572b;">Three</option>
                    {% else %}
                    <option value="1" style="color: #8e572b;">One</option>
                    <option value="2" style="color: #8e572b;">Two</option>
                    <option value="3" style="color: #8e572b;" selected>Three</option>
                    {% endif %}
                </select>
            </div>
            <div style="display: flex; flex-direction: row; margin-top: 20px;">
                <label style="margin-left: 20px; margin-top: 5px; margin-right: 40px; color: #8e572b; font-family: monospace; font-size: 20px;">Check In</label>
                <input style="width: 200px;" name="check_in" type="text" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" placeholder="CHECK IN" class="date-input form-control my-input" id="check-in" required value="{{reservation.check_in}}">
            </div>
            <div style="display: flex; flex-direction: row;">
                <label style="margin-left: 20px; margin-top: 5px; margin-right: 30px; color: #8e572b; font-family: monospace; font-size: 20px;">Check Out</label>
                <input style="width: 200px;" name="check_out" type="text" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" placeholder="CHECK OUT" class="date-input form-control my-input" id="check-out" required value="{{reservation.check_out}}">
            </div>
            <button type="submit" class="login-button">EDIT RESERVATION</button>
        </div>
    </div>
</div>
</form>
</div>

<style>
  .email-button:hover {
    color: white;
  }
    .email-button {
    margin-left: 10px;
    background-color: #8e572b;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    color: white;
  }
    .my-small-input {
    border-radius: 50px;
    width: 155px;
    height: 40px;
    padding-left: 45px;
    border-color: #8e572b;
    margin-bottom: 20px;
  }
  .dob-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .grp {
    margin-bottom: 15px;
  }
  .center {
    margin-top: 20px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    height: 620px; 
    width: 900px;
    border-radius: 20px;
    align-items: center;
  }
  .center-two {
    display: flex;
    flex-direction: column;
  }
  .profile-icon {
    margin-top: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .my-input {
    border-radius: 50px;
    width: 330px;
    height: 40px;
    padding-left: 45px;
    border-color: #8e572b;
    margin-bottom: 20px;
  }
  .input-container {
    position: relative;
  }
  .input-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
  .login-button {
    margin-left: 40px;
    margin-top: 20px;
    background-color: #8e572b;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    color: white;
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  setTimeout(function() {
    document.getElementById("error-message").textContent = ""
  }, 3000);

  const checkInInput = document.getElementById("check-in");
  const checkOutInput = document.getElementById("check-out");

  const currentDate = new Date().toISOString().split("T")[0];
  checkInInput.min = currentDate;

  checkInInput.addEventListener("input", () => {
      const selectedDate = new Date(checkInInput.value);
      selectedDate.setDate(selectedDate.getDate() + 1); // Increment by one day
      const minCheckOutDate = selectedDate.toISOString().split("T")[0];
      checkOutInput.min = minCheckOutDate;

      if (checkOutInput.value < minCheckOutDate) {
          checkOutInput.value = minCheckOutDate;
      }
  });

  checkOutInput.addEventListener("input", () => {
      if (checkOutInput.value < checkInInput.value) {
          checkOutInput.value = checkInInput.value;
      }
  });

  const roomSelect = document.getElementById("room-select");
  const roomTypeInput = document.getElementById("room-type-input");
  const roomFloorInput = document.getElementById("room-floor-input");

  var dataToSend = { room_name: roomSelect.value};
  const csrftoken = getCookie('csrftoken');
  fetch(`/get-id/`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrftoken,
    },
    body: JSON.stringify(dataToSend),
  })
  .then(response => response.json())
  .then(data => {
    roomTypeInput.value = data.room_type
    roomFloorInput.value = data.room_floor
  })
  .catch(error => {
    console.error('Error:', error);
  });


  roomSelect.addEventListener("change", (event) => {
    console.log(roomSelect.value)   

    dataToSend = { room_name: roomSelect.value};
    fetch(`/get-id/`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify(dataToSend),
    })
    .then(response => response.json())
    .then(data => {
      roomTypeInput.value = data.room_type
      roomFloorInput.value = data.room_floor
    })
    .catch(error => {
      console.error('Error:', error);
    });
    
  });

  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
  }

</script>

{% endblock %}
