{% extends "base.html" %}
{% block start %}

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="center">
  <form class="center-two" method="post" action="/change-password/">
    {% csrf_token %}
    <img src="/media/profile_icon.webp" alt="Profile Icon" class="profile-icon">
    <p id="my-text" style="position: fixed; top: 25%; left: 28%; color: red; font-family: monospace;"></p>
    {% if text %}
    <p id="my-text" style="position: fixed; top: 25%; left: 28%; color: red; font-family: monospace;">{{text}}</p>
    {% endif %}
    <div class="grp" style="margin-top: 10px;">
      <div class="input-container">
        <i class="fas fa-user input-icon" style="color: #8e572b"></i>
        <input type="text" placeholder="USERNAME" class="form-control my-input" required name="username">
      </div>
    </div>
    <div style="display: flex; flex-direction: row; margin-bottom: 20px;">
        <div class="input-container">
            <i class="fas fa-key input-icon" style="color: #8e572b"></i>
            <input type="text" placeholder="ENTER OTP" class="form-control my-otp-input" name="otp">
        </div>
        <button id="generate-otp-button" class="login-button" style="margin-right: 5px; margin-top: 10px; margin-left: 35px;"><a style="text-decoration: none; color: white;">GENERATE OTP</a></button>
    </div>
    <div class="grp">
      <div class="input-container">
        <i class="fas fa-lock input-icon" style="color: #8e572b;"></i>
        <input type="password" placeholder="NEW PASSWORD" class="form-control my-input" required name="password">
      </div>
    </div>
    <div class="grp">
        <div class="input-container">
          <i class="fas fa-lock input-icon" style="color: #8e572b;"></i>
          <input type="password" placeholder="RE-ENTER PASSWORD" class="form-control my-input" required name="re_password">
        </div>
      </div>
      <div style="display: flex; flex-direction: row;">
        <button class="login-button" style="margin-right: 40px;"><a style="text-decoration: none; color: white;" href="/login/">BACK</a></button>
        <button type="submit" class="login-button">SUBMIT</button>
    </div>
    <input id="my-hidden-input" type="hidden" value="" name="hidden_otp"/>
  </form>
</div>

<style>
  .grp {
    margin-bottom: 15px;
  }
  .center {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    height: 580px; 
    width: 800px;
    border-radius: 20px;
    align-items: center;
    margin-top: 20px;
  }
  .center-two {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-icon {
    margin-top: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .my-input {
    border-radius: 50px;
    width: 380px;
    height: 50px;
    padding-left: 45px;
  }
  .my-otp-input {
    border-radius: 50px;
    width: 200px;
    height: 50px;
    padding-left: 45px;
  }
  .input-container {
    position: relative;
  }
  .input-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
  .login-button {
    margin-top: 15px;
    background-color: #8e572b;
    width: 140px;
    height: 35px;
    border-radius: 20px;
    color: white;
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
      $("#generate-otp-button").click(function() {
        var username = $("input[name='username']").val();
        
        $.ajax({
          type: "POST",
          url: "/generate-otp/",
          data: {
            'username': username,
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val(),
          },
          success: function(data) {
            console.log("otp successful")
            console.log(data.flag);
            $('#my-hidden-input').val(data.otp);

            if(data.flag == 1) {
              $("#my-text").text("*OTP sent to your email!")
            }
            else {
              $("#my-text").text("*Invalid username!")
            }
          },
          error: function(error) {
            // Handle error, if needed
          }
        });
      });
    });
  </script>
  

{% endblock %}
