{% extends "base.html" %}
{% block start %}
    
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="main">
    <div style="margin-left: 50px; margin-right: 50px;">
        <form method="get">
            <select class="my-select" name="room_type" id="my-select">
                {% for room_type in room_types %}
                    <option value="{{ room_type }}" {% if room_type == selected_room_type %}selected{% endif %}>{{ room_type }}</option>
                {% endfor %}
            </select>
            <input class="my-filter" type="submit" value="Filter">
            {% if page_number == 1 %}
            <button style="margin-left: 53.5%;" class="my-btn" type="button" onclick="return false;">
                <i class="fas fa-backward"></i>
            </button>
            {% else %}
            <button style="margin-left: 53.5%;" class="my-btn" type="button" onclick="backward(`{{my_start_date}}`,`{{page_number}}`)">
                <i class="fas fa-backward"></i>
            </button>
            {% endif %}
            <div style="display: inline; color: #8e572b; font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-right: -5px; margin-left: 4px ;"><b>{{page_number}}</b></div>
            {% if page_number == 6 %}
            <button class="my-btn" type="button" onclick="return false;">
                <i class="fas fa-forward"></i>
            </button>
            {% else %}
            <button class="my-btn" type="button" onclick="forward(`{{my_end_date}}`, `{{page_number}}`)">
                <i class="fas fa-forward"></i>
            </button>
            {% endif %}
        </form>

        <!-- Display reservations in a table -->
        <table class="table table-hover" style="color: #8e572b; font-family: monospace; font-size: xx-large;">
            <thead>
                <tr style="text-align: center; vertical-align: middle;">
                    <th scope="col"></th>
                    {% for date in str_dates %}
                    <th scope="col" style="width: 185px;">{{ date }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr style="height: 160px; text-align: center; vertical-align: middle;">
                    <th scope="row" style="width: 280px;">{{ room.room_name }}</th>
                    {% for date in dates %}
                    <td>
                        {% for reservation in reservations %}
                            {% if reservation.room_id == room.id and reservation.check_in == date %}
                                <div style="background-color: #8e572b; color: white; border-radius: 10px;">{{ reservation.client.client_first_name }}</div>
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>

    var selected_room_type = "{{ selected_room_type }}";
    console.log(selected_room_type)

    function forward(end_date, page_number) {
        window.location.href = `/?room_type=${selected_room_type}&end_date=${end_date}&page_number=${page_number}`;
    }

    function backward(start_date, page_number) {
        window.location.href = `/?room_type=${selected_room_type}&start_date=${start_date}&page_number=${page_number}`;
    }
</script>

<style>
    a:hover {
        color: white;
    }
    .main {
        margin-top: 10px;
        min-height: 720px;
        background-color: white;
        border-radius: 15px;
    }

    .my-select {
        margin-top: 40px;
        margin-bottom: 20px;
        height: 40px;
        width: 250px;
        border-radius: 10px;
        font-size: x-large;
        font-family: monospace;
        color: #8e572b;
    }
    .my-filter {
        margin-left: 10px;
        background-color: #8e572b;
        color: white;
        font-size: x-large;
        font-family: monospace;
        border-radius: 10px;
        height: 39px;
        width: 120px;
    }
    .my-btn {
        margin-left: 10px;
        background-color: #8e572b;
        color: white;
        font-size: x-large;
        font-family: monospace;
        border-radius: 10px;
        height: 30px;
        width: 50px;
        text-align: center;
        vertical-align: middle;
        margin-top: -10px;
    }
</style>

{% endblock %}