{% extends "base.html" %}
{% block start %}

<div class="row" style="min-height: 30px;">

</div>

<div class="row">
  {% for room in rooms %}
  <div onclick="clicked('{{room.id}}')" class="wrapper" style="margin-bottom: 70px;">
    <h1 style="color: #8e572b;">{{room.room_type}}</h1>
    <div class="image i1 my-div">
      {% for key, value in room_images_dict.items %}
        {% if key == room.id %}
          <img class="my-img" src="/media/{{ value.0.image }}">
        {% endif %}
      {% endfor %}
    </div>
    <div class="details"><h1><em>{{room.room_title}}</em></h1>
    <h2>{{room.room_name}}</h2>
    <p>{{room.room_floor}}</p></div>
    <h1 style="color: #8e572b;" class="my-h1">${{room.price_per_night}}</h1>
  </div>
  {% endfor %}
  


<style>
  @import url('https://fonts.googleapis.com/css?family=Lato:200,400|Playfair+Display');
  .my-div {
    overflow: hidden; 
  }
  .my-img {
    height: 250px; 
    width: 310px
  }
  .my-h1 {
    color: #8e572b;
  }
.wrapper {
  float: left;
  width: 30%;
  min-width: 300px;
  margin: 1.5%;
  padding: 2em 1em;
  box-sizing: border-box;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.24);
  text-align: center;
  background-color: white;
}
.wrapper>h1 {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  letter-spacing: .15em;
  color: #333;
}
.details {
  width: 95%;
  margin: 0 auto 2em;
  padding-top: 10.5em;
  padding-bottom: 1em;
  background-color: #8e572b;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  transition: all ease-in 0.15s;
}

.wrapper:hover .details{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 5px rgba(0,0,0,0.22);
  transform: translate(0px, -2px) scale(1.01);
}

.details>h1 {
  font-family: "Playfair Display";
  font-size: 1em;
}
.details>h2 {
  font-family: sans-serif;
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: 0.1em;
}
.details>p {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 200;
}

.image{
  position: relative;
  z-index: 2;
  width: 85%;
  height: 250px;
  margin: 0 auto -10em;
  background-size: cover;
  background-position: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
  transition: all ease-in .15s;
}
.wrapper:hover .image{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: translate(0px, -3px) scale(1.02);
}
  
.i1{
    background-image: url(https://31.media.tumblr.com/9e9ba532a3174811c79e07bc4a61ebdc/tumblr_n92w6iRSjY1r5gmiko1_500.jpg);
}
.i2 {
  background-image: url(http://www.asianventure.com/images/country/vietnam.jpg);
}
.i3 {
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/06/c7/ba/92/salah-satu-bangunan-di.jpg);
  }

@media screen and (max-width: 1000px) {
  .wrapper{
    width: 47%;
  }
}
@media screen and(max-width:700px){
  .wrapper{
    float: none;
    width: 70%;
    margin: 1em auto;
  }
}
@media screen and(max-width:700px){
  .wrapper{
    float: none;
    width: 70%;
    margin: 1em auto;
  }
}
</style>

<script>
  function clicked(roomId) {
    console.log("clicked");
    console.log("Room id is: " + roomId)

    fetch(`/hotel-room/${roomId}`, {
      method: 'GET'
    })
    .then(response => {
      console.log("success")
      window.location.href = `/hotel-room/${roomId}`;
    })
    .catch(error => {
      console.error('Error:', error);
    });
  }
</script>


{% endblock %}